# {{ ansible_managed }}
---
version: "3.5"

networks:
  back-tier:
    name: internet-monitoring-back-tier

services:
  bind9:
    image: ubuntu/bind9
    container_name: bind9
    restart: unless-stopped
    hostname: '{{ bind9_hostname }}'
    ports:
      - "{{ bind9_listen_port }}:53" 
    networks:
      - back-tier
