FROM jrei/systemd-ubuntu:latest

# Using centos7 since unbound installation works out of the box
# Had previously tried debian:buster, debian:latest, ubuntu:latest, fedora:latest, centos:latest
# None of them worked out of the box.
# Plus, centos is lightweight =]

# Using separate run commands for improved console output
RUN apt update -y
RUN apt install -y unbound nano

RUN touch /var/log/unbound.log
RUN chown unbound:unbound /var/log/unbound.log

RUN systemctl enable unbound.service
RUN systemctl restart unbound.service

USER root

# Use this to keep container running because unbound will be using systemd within the container
# Yes, I heard that's not good, but nothing else I've tried will work
RUN sleep infinity